.donor-form {
  padding: 20px;
  border: 2px solid rgb(243, 77, 77);
  border-radius: 10px;
}
.donor-form input {
  border: none;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 8px;
  text-align: center;
}
.donor-form input:focus {
  outline-color: rgb(243, 77, 77);
}
.donor-form input::-webkit-input-placeholder {
  text-align: center;
}
.donor-form select {
  box-sizing: border-box;
  width: 100%;
  text-align-last: center;
  height: 37px;
  border: none;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 8px;
}
.donor-form select:focus {
  outline-color: rgb(243, 77, 77);
}
.donor-form select:hover {
  cursor: pointer;
}
.donor-reg-btn {
  box-sizing: border-box;
  width: 90%;
  margin: 10px 10px;
  background-color: rgb(243, 77, 77);
  padding: 7px;
  color: white;
}
.donor-reg-btn:hover {
  background-color: rgb(167, 54, 54);
}
